.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 480px;
}

.gallery-item {
    width: 90%;
    position: relative;
}

.gallery-img {
    width: 40%;
    cursor: pointer;
}

.fullscreen-video {
    position: fixed;
    top: 0vh; /* Ajusta este valor para mover el video más arriba */
    left: 615px;
    width: 26.8vw;
    height: 97vh; /* Reduce la altura para que quede un poco más arriba */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background: black;
}

.fullscreen-video-player {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cambia a 'cover' para llenar el contenedor */
}

.close-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
